body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;    
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    max-width: 850px;
    width: 100%;
    
}

.nav-bar {
    display: flex;
    gap: 12px;
    
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    max-width: 900px;
    width: 100%;

}

.left-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
    width: 300px;
    gap: 4px;

}

.right-hero {
    padding: 16px;
    margin: 16px;
    width: 300px;

    
}


a {
    text-decoration: none;
}

 ul {
    list-style-type: none;
 }

 button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 8px;
    max-width: 80px;
 }

 .text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.information-panel {
    text-align: center;
}

.information-text {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
}

.info-container {
    display: flex;
    gap: 40px;
    justify-content: center;

}
  